@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Regular.woff2') format('woff2'),
        url('Merriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trocchi';
    src: url('Trocchi-Bold.woff2') format('woff2'),
        url('Trocchi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

